@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema de Registro de Clientes</h1>
</div>
<div class="list-group">
    <div class="option">
        <a href="/Clientes/Create" class="list-group-item list-group-item-action"><i class="fa-solid fa-user-plus"></i>Crear nuevo Cliente</a>
    </div>
    <div class="option">
        <a href="/Clientes" class="list-group-item list-group-item-action"><i class="fa-solid fa-list"></i>Ver lista de Clientes</a>
    </div>
</div>